body{
	margin:0px;
	padding:0px;
}
.header{
	overflow:hidden;
	background:#009CA2;
	margin:0px;
	padding:0px;
	position:inline;
}
  .home{

	text-decoration:none;
	float:left;
	padding:12px;
	padding-left:20px;
	display:inline;
	position:relative;
	color:black;
	display:inline-block;
}

  .home:hover{

	 color:#FFFFFF;
	 text-decoration:none;

}
 .menu{
	
	float:right;
}

.menu ul{
	
	padding:5px 0px;
}

 .menu ul li {
	padding-top:8px;
	 list-style:none;
	 float:left;
	 display:inline-block;
 
 }
.menu li a {

	 padding:10px;
	 text-decoration:none;
	 color:black;

 } 
.menu  li a:hover {

	 color:#FFFFFF;
 }
 
 .coitainer{
	 overflow:hidden;
	 margin:15px;
	 border: solid 0.3px Lightgray;
	 border-radius: 5px;
	
	 
 }
 

.Srch{
	 
	  float:right;
	 padding:60px 10px;
	 
	 
 }
  .srch-bar{
	 
	 width:300px;
	 height:35px;
	 padding:10px;
	 border:solid 1px Lightgray;
	 border-radius:  5px 0 0 5px ;
	 position:relative;
	 float:left;
	
 }
 .srch-btn{
	 background:#7FC9EC ;
	 position:relative;
	 padding-top:0px;
	 float:left;
	 height:35px;
	 border:solid 1px Lightgray;
	 border-radius: 0 5px 5px 0 ;
	  
	 
 }
 .srch-btn:hover{
	 
	 background: #28A1E6;
	 color:white;
	
 }
 
 .logo{
	 
	 float:left;
	  
 }
.image{
	width:550px;
	 height:150px;
	
}
.navbar{

	background:#033E76;
	float:left;
	margin:12px;
	width:1210px;
	height:50px;
	border-radius:5px;
	
	
}
 .navbar ul{
	 padding-left:15px;
	padding-top:5px;
	
	
}

 .navbar ul li{
	 

	  list-style:none;
	  float:left;
	  color:#ffff;
	  
  }
  
 .navbar ul li a{
	  padding: 12px;
	  padding-bottom:10px;
	  text-decoration:none;
	  font-family:"Times New Roman", Times, serif;
	  font-size:18px;
	  font-weight:4em;
	  color:#ffff;
	  
	  
  }
  
.navbar ul li ul a{
	background:Black;
	
}
 
.navbar  ul li  ul li{
	 
	 float:none;
	 width:100px;
	height:40px;
	padding:2px;
	padding-top:15px;
	  
 }
 .navbar ul li ul {
	 display:none;
	 
 }
 
 .navbar ul li:hover ul {
	 
	 display:block;
	
	 
	 
	  
 }
 

 .navbar ul li a:hover {
	  
	 background:#28A1E6;
	 border-radius:5px;
	text-decoration:none;
	 
	  
  }
  
  .navbar ul li:hover .dropdown ul li{
	  display:block;
	  color:#fffe;
	  background:gray;
	  
  }

  .slideshow{
	  margin:230px 10px 5px 11px;
	  padding-bottom:25px;
	  border:solid 1px Lightgray;
	  border-radius:5px;
  }
  .mySlides{
	  padding: 2px 2px 10px 2px;
	  margin-bottom:8px;
	  
	  
  }
  #sldimg{
	  background-repeat:no-repeat;
	  height:420px;
	  width:100%;
	  border-radius:5px;
	  
  }

 
 .lable {
	  margin-top:-100px;
	 text-align:center;
	 color:#af01eb;
	 font-size:28px;
	 
 }
 
.cont h6{
	
	text-align:left;
	
} 
.cont{
		margin-top:-90px;
		float:right;
		
		
}
 
 .cont ul  li {
	
	list-style:none;
	display:inline-block;
	font-size:35px;
	padding-left:15px;
	padding-right:15px;
	margin-left:15px;
	text-align:center;
	text-decoration:none;
	border-radius:50%;
	position:relative;
	float:left;
	
	
	 
 }
 .cont ul li i{
	 color:white;
	 
 }
  .cont ul li:nth-child(1){
	 
	 background:#3b5998;
	 
 }
 .cont ul li:nth-child(2){
	 
	background:#55acee;
	 
 }
 .cont  ul li:nth-child(3){
	 
	 background: #dc4e41;
	 
 }
 .cont  ul li:nth-child(4){
	 
	 background: #517fa4;
	 
 }
 .cont  ul li:nth-child(5){
	 
	 background:#b31217 ;
	 
 }
 .cont li a i:hover{
	 
	color:black;
 }
.colm{
	margin: 20px 10px 10px 10px;
	float:left;
	padding:2px;
	border:solid 1px Lightgray;
	border-radius:3px;
	
}
.colm ul{
	
	padding:5px;
	
	
}
.colm ul li {
	float:left;
	list-style:none;
	padding:13px;
	border:solid 1px Lightgray;
	
}

.n1 h4{
	text-align:center;
	color:White;
	background:#033E76;
	padding:5px;
	border-radius:5px;
}

 .adm {
	overflow:none;
	background-repeat:none;
	width:370px;
	height:250px;
	border-radius:5px;
	
}
.news_lbl a{
	background:#033E76;
	color:White;
	padding:5px;
	border-radius:5px;
	
}
.news_lbl a:hover{
	background:Darkblue;
	border: solid 2px #033E76;;
	
}
.news_lbl{
	
	margin-top:-70px;
	padding:20px;
	text-align:right;
	text-decoration:none;
	font-size:20px;
	
	
	
}


 .footer{
	 
	 background:#009CA2;
	 margin-top:20px;
	 padding:30px;
	 text-align:left;
	
	

 }